:root {
    --bgtheme: linear-gradient(134.3deg, #001597 3.03%, #01104D 47.1%, #020C1C 80.14%, #020B09 96.45%);
}

.themebg {
    background: var(--bgtheme) !important;
}

#parent_wrapper {
    min-width: 100vw;
    background: #F5F5F5;
    position: relative;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

/* navbar css start */
.navbar-section {
    /* width: 1440px;
    height: 100px; */
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
    border-radius: 0px 0px 15px 0px;
    position: relative;
}

.search-parent {
    width: 329px;
    height: 40px;
    border-radius: 16px;
    margin-left: 250px;
}

.nav-search-icon {
    color: #C7C7C7;
}

.navbar-search-input {
    width: 150px;
    height: 20px;
    border: none;
    outline: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #C7C7C7;
}

.navbar-icon-color {
    color: var(--bgtheme) !important;
    margin-right: 5px;

}

.profile-img {
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    filter: drop-shadow(0px 0px 2.73504px rgba(0, 0, 0, 0.15));
    border-radius: 50%;
    /* Inside auto layout */
    /* flex: none;
    order: 0;
    flex-grow: 0; */
}

.profile-details .dropdown-menu {
    position: absolute;
    left: -133px !important;
}

@media screen and (max-width:768px) {
    .search-parent {
        width: 100%;
        margin-left: 0px;
    }

    .navbar-mobile-view-icon {
        display: flex;
        flex-direction: row !important;
        float: right;
    }

    .navbar-icon-color {
        margin: 0px 10px;
    }

}

/* navbar css end */

/* banner-sectio */
.banner-section {
    margin: 0px 10px 0px auto;
    /* border-radius: 300px; */
}

.banner-card-radius {
    border-radius: 16px;
}


.profile-img-card {
    box-sizing: border-box;
    width: 180px;
    height: 180px;
    background: url(.png);
    margin-top: -70px;
    /* primary blue */
    /* border: 2px solid #001C93; */
    filter: drop-shadow(0px 0px 8.10256px rgba(0, 0, 0, 0.15));
    border-radius: 60.7692px;
}

.profile-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #303030;
}

.profile-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #303030;
    opacity: 0.5;
}

.story-btn {
    font-size: 12px;
    background: var(--bgtheme);
    border-radius: 15px;
}

.edit-profile-btn {
    font-size: 12px;
    background: rgba(141, 141, 141, 0.3);
    border-radius: 15px;
}

@media screen and (max-width:768px) {
    .test {
        display: flex;
        flex-direction: column;

    }

}


/* end banner */

/* section menu start */
.menubar-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.menubar-section::-webkit-scrollbar {
    display: none;
}

.more-items-btn {
    position: absolute;
    top: 12px;
    right: 0px;
}

.single-photos {
    width: 373px;
    height: 500px;
    border-radius: 15px;
}

.multi-photos {
    width: 318px;
    height: 244px;
    border-radius: 15px;
}

/* section menu end */