:root {
    --bgtheme: linear-gradient(134.3deg, #001597 3.03%, #01104D 47.1%, #020C1C 80.14%, #020B09 96.45%);
}

* {
    box-sizing: border-box;
}

.themebg {
    background: var(--bgtheme);
}

.themecolor {
    color: var(--bgtheme);
    background: var(--bgtheme);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#parent_wrapper {
    min-width: 100vw;
    background: #F5F5F5;
    position: relative;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

/* navbar css start */
.navbar-section {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
    border-radius: 0px 0px 15px 0px;
    position: relative;
}

.search-parent {
    width: 329px;
    height: 40px;
    border-radius: 16px;
    margin-left: 250px;
}

.nav-search-icon {
    color: #C7C7C7;
}

.navbar-search-input {
    width: 150px;
    height: 20px;
    border: none;
    outline: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #C7C7C7;
}

.navbar-icon-color {
    color: var(--bgtheme) !important;
    margin-right: 5px;

}

.profile-img {
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    filter: drop-shadow(0px 0px 2.73504px rgba(0, 0, 0, 0.15));
    border-radius: 50%;
}

.profile-details .dropdown-menu {
    position: absolute;
    left: -133px !important;
}

@media screen and (max-width:768px) {
    .search-parent {
        width: 100%;
        margin-left: 0px;
    }

    .navbar-mobile-view-icon {
        display: flex;
        flex-direction: row !important;
        float: right;
    }

    .navbar-icon-color {
        margin: 0px 10px;
    }

}

/* navbar css end */

/* sidebar css start */

.sidebar {
    min-width: 213px;
    width: 213px;
    height: 859px;
    background: #FFFFFF;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.06);
    border-radius: 0px 15px 15px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.brand-logo {
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    justify-self: unset;
}

.brand-name {
    font-size: 15px;
    background: var(--bgtheme);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    position: relative;
    top: 5px;
}

.brand-name-text {
    font-size: 12px;
    background: var(--bgtheme);
    position: relative;
    top: -5px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.brand-admin {
    background: var(--bgtheme);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sidebar-menu-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #8D8D8D;
}

.sidebar-menu-item-list:hover {
    background: var(--bgtheme) !important;
}

.sidebar-menu-item-list:hover .themecolor {
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sidebar-menu-item-list:hover .sidebar-menu-item {
    color: white;
}

/* sidebar css end */

/* banner-section */
.banner-section {
    margin: 0px 10px 0px 220px;
}

@media screen and (max-width:767px) {
    .banner-section {
        margin: 0px 10px 0px auto;
    }
}

.banner-card-radius {
    border-radius: 16px;
}


.profile-img-card {
    box-sizing: border-box;
    width: 180px;
    height: 180px;
    background: url(.png);
    margin-top: -70px;
    filter: drop-shadow(0px 0px 8.10256px rgba(0, 0, 0, 0.15));
    border-radius: 60.7692px;
}

.profile-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #303030;
}

.profile-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #303030;
    opacity: 0.5;
}

.story-btn {
    font-size: 12px;
    background: var(--bgtheme);
    border-radius: 15px;
}

.edit-profile-btn {
    font-size: 12px;
    background: rgba(141, 141, 141, 0.3);
    border-radius: 15px;
}

/* end banner */

/* section menu start */
.menubar-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.menubar-section::-webkit-scrollbar {
    display: none;
}

.more-items-btn {
    position: absolute;
    top: 12px;
    right: 0px;
}

.single-photos .card {
    min-width: 373px;
    width: 373px;
    height: 500px;
    border-radius: 15px;
}

.multi-photos .card {
    min-width: 318px;
    width: 318px;
    height: 244px;
    border-radius: 15px;
}

.overlap-image-size {
    width: 1107px;
    height: 426px;
    background: linear-gradient(90.26deg, #000000 1.86%, rgba(0, 0, 0, 0.87) 28.85%, rgba(91, 91, 91, 0) 99.08%), url(.jpg);
    border-radius: 15px;
}

.overlap-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.overlap-text {
    width: 468px;
    height: 110px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.play-icon {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: whitesmoke;
    color: var(--bgtheme);
}

.green-heart-vector {
    width: 13px;
    height: 12px;
    background: linear-gradient(153.87deg, #00E49A 13.53%, #00D595 26.41%, #00A484 71.5%, #00917E 93.23%);
}

.category-text {
    width: 146px;
    /* height: 66px; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    background: linear-gradient(134.3deg, #001597 3.03%, #01104D 47.1%, #020C1C 80.14%, #020B09 96.45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.parent-card .card {
    min-width: 248px !important;
    width: 248px;
}

.parent-img-card {
    min-width: 248px;
    width: 248px;
    height: 145px;
}

.rating-icon {
    width: 42px;
    height: 20px;
    border-radius: 15px;
}

.video-details {
    width: 215px;
    height: 36px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #303030;
}

.star-icon {
    width: 8.85px;
    height: 8.17px;
    font-size: 10px;
    position: relative;
    top: -4px;
}

.rating-number {
    width: 14.47px;
    height: 11.57px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 9.52941px;
    position: relative;
    top: -4px;
    left: 2px;
    line-height: 12px;
    background: linear-gradient(134.3deg, #001597 3.03%, #01104D 47.1%, #020C1C 80.14%, #020B09 96.45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.more-items-btn-right {
    position: absolute;
    top: 40%;
    right: -12px;
    z-index: 1;
}

.more-items-btn-left {
    position: absolute;
    left: -12px;
    top: 40%;
    z-index: 1;
}

.time-video {
    font-size: 10px;
    position: absolute;
    top: 48%;
    right: 0%;
    padding: 0px 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    color: #FFFFFF;
    border-radius: 15px 0px;
}

.podcasts-rating-icon-number {
    font-size: 10px;
    width: 55.85px;
    height: 26px;
    position: absolute;
    top: -2px;
    right: -2px;
    border-radius: 0px 15px;
}


.podcast-list-item .card {
    width: 337px;
    min-width: 337px;
    height: 337px;
    border-radius: 14.4429px;
    background-image: linear-gradient(180deg, rgba(58, 58, 58, 0.4) 0%, rgba(58, 58, 58, 0) 54.42%, #161616 76.39%), url(../images/pod-one.png);
}

.podcast-list-item .card-img-overlay {
    position: absolute;
    top: 234px;
}

.podcast-title {
    width: 250px;
    height: 34px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17.3314px;
    line-height: 21px;
}

.podcast-profile-img {
    width: 29px;
    height: 29px;
    background: url(.png);
    filter: drop-shadow(0px 0px 3.2265px rgba(0, 0, 0, 0.15));
    border-radius: 8.66571px;
}

/* section menu end */